.table-yellow {
  background-color: #f5f5dc !important;
}

.table-yellow td {
  background-color: #f5f5dc !important;
  border-color: black !important;
}

.m-t-5 {
  margin: 5rem;
}

#resultado {
  background-color: #bbff00; /* Color de fondo verde */
  color: #000000; /* Color del texto negro para contraste */
  font-size: 20px; /* Tamaño de fuente grande para destacar */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #000000; /* Borde para definir el área del texto */
  margin-top: 10px; /* Espaciado entre el campo de entrada y el resultado */
  text-align: center; /* Centrar el texto dentro del elemento */
}

#resultado2 {
  background-color: #fff700; /* Color de fondo verde */
  color: #000000; /* Color del texto negro para contraste */
  font-size: 20px; /* Tamaño de fuente grande para destacar */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #000000; /* Borde para definir el área del texto */
  margin-top: 10px; /* Espaciado entre el campo de entrada y el resultado */
  text-align: center; /* Centrar el texto dentro del elemento */
}

#resultado3 {
  background-color: #bbff00; /* Color de fondo verde */
  color: #000000; /* Color del texto negro para contraste */
  font-size: 20px; /* Tamaño de fuente grande para destacar */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #000000; /* Borde para definir el área del texto */
  margin-top: 10px; /* Espaciado entre el campo de entrada y el resultado */
  text-align: center; /* Centrar el texto dentro del elemento */
}

#resultado4 {
  background-color: #fff700; /* Color de fondo verde */
  color: #000000; /* Color del texto negro para contraste */
  font-size: 20px; /* Tamaño de fuente grande para destacar */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #000000; /* Borde para definir el área del texto */
  margin-top: 10px; /* Espaciado entre el campo de entrada y el resultado */
  text-align: center; /* Centrar el texto dentro del elemento */
}

#resultado5 {
  background-color: #bbff00; /* Color de fondo verde */
  color: #000000; /* Color del texto negro para contraste */
  font-size: 20px; /* Tamaño de fuente grande para destacar */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #000000; /* Borde para definir el área del texto */
  margin-top: 10px; /* Espaciado entre el campo de entrada y el resultado */
  text-align: center; /* Centrar el texto dentro del elemento */
  animation: blink 1s infinite; /* Aplicar la animación blink */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Opcional: Estilos para el hover */
.navbar .nav-link:hover {
  background-color: #333; /* Cambia el color de fondo al pasar el mouse */
  color: #fff; /* Cambia el color del texto al pasar el mouse */
}

.empresa {
  background-color: #000; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del texto */
  border-radius: 5px; /* Agrega bordes redondeados */
  transition: background-color 0.3s ease; /* Animación suave al cambiar el color de fondo */
}
